<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Monitoring_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Monitoring_WPF.Properties.Settings>
            <setting name="PathToFolder" serializeAs="String">
                <value>C:\Users\Public\Downloads</value>
            </setting>
            <setting name="Temp" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MaxCount" serializeAs="String">
                <value>10</value>
            </setting>
        </Monitoring_WPF.Properties.Settings>
    </userSettings>
</configuration>